body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center; /* Center-align text and content */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; /* Center the header content */
}

.header-left img {
    height: 60px; /* Adjust size as needed */
}

.header-right {
    display: flex;
    flex-direction: column; /* Stack header and subheader vertically */
    justify-content: center;
    text-align: center; /* Center-align text */
}

.header-right h1 {
    margin: 0;
}

.header-right h2 {
    margin: 10px 0 0; /* Space between header and subheader */
}

header nav {
    margin-top: 20px; /* Space between subheader and navigation menu */
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
